:root {
  --heading: #212121;
  --main-text: #757575;
  --accent-color: #2196f3;
  --logotype: #000000;
  --main-bg: #2f303a;
  --secondary-bg: #f5f4fa;
  --secondary-accent: #ffffff;
  --hero-button-hover: #188ce8;
  --icon: #afb1b8;
  --main-weight: 400;
  --heading-weight: 700;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  font-family: inherit;
  font-weight: var(--heading-weight);
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 1px solid transparent;
  color: var(--secondary-accent);
  background-color: var(--accent-color);
  transition: background-color var(--animation);
}

.button:hover, .button:focus {
  cursor: pointer;
  background-color: var(--hero-button-hover);
}

.hero-button {
  align-items: center;
  display: inline-block;
  padding: 10px 32px;
  min-width: 136px;
}

.portfolio-button-list {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 34px;
}

.button-list-item:not(:last-child) {
  margin-right: 8px;
}

.button-list-item:nth-last-child(-n+2) {
  margin-top: 15px;
}

.portfolio-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 6px 22px;
  color: var(--heading);
  background-color: var(--secondary-bg);
  cursor: pointer;
  transition: var(--animation);
}

.portfolio-button:hover, .portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-accent);
}

@media screen and (min-width: 768px) {
  .portfolio-button-list {
    width: 624px;
  }
  .button-list-item:nth-last-child(-n+2) {
    margin-top: 0;
  }
}

.social-list {
  display: flex;
  justify-content: center;
  margin: 0 32px 30px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--secondary-accent);
  border-radius: 50%;
  transition: all var(--animation);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
}

.team-container .social-list-item {
  margin-bottom: 24px;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon);
  transition: var(--animation);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--secondary-accent);
}

@media screen and (min-width: 1200px) {
  .social-list {
    justify-content: space-between;
  }
}

header {
  border-bottom: 1px solid #ececec;
}

.logotype {
  font-family: "Raleway", sans-serif;
  font-weight: var(--heading-weight);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logotype);
}

.header .logotype {
  margin-right: 93px;
}

.section-padding:not(:nth-child(3)) {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-padding:nth-child(3) {
  padding-bottom: 60px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  width: 100%;
  display: flex;
  align-items: center;
}

.logotype-accent,
.navigation-list-link:hover,
.navigation-list-link:focus,
.contact a:hover,
.contact a:focus,
.navigation-list-link.current,
.current-mobile,
.mobile-social-link,
.mobile-navigation-list-link:hover,
.mobile-navigation-list-link:focus,
.mobile-contact-mail:hover,
.mobile-contact-mail:focus {
  color: var(--accent-color);
  transition: color var(--animation);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  display: block;
  background-color: var(--accent-color);
  border-radius: 2px;
  transition: var(--animation);
}

@media screen and (max-width: 767px) {
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--secondary-accent);
    z-index: 50;
  }
  .menu-container {
    display: none;
  }
  .mobile-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
  }
  .burger-btn,
  .mobile-close-btn {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .burger-btn:hover, .burger-btn:focus,
  .mobile-close-btn:hover,
  .mobile-close-btn:focus {
    fill: var(--accent-color);
    cursor: pointer;
  }
  .menu-button {
    padding: 10px 0;
  }
  .mobile-menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    background-color: white;
    padding: 48px 40px;
    z-index: 50;
    transition: transform 350ms linear;
  }
  .mobile-menu.is-open {
    transform: translateX(-50%) translateY(0%);
  }
  .mobile-wrapper {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .mobile-navigation-list-item:nth-child(2) {
    padding: 32px 0;
  }
  .mobile-navigation-list-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--heading);
    position: relative;
  }
  .mobile-social-list {
    display: flex;
  }
  .mobile-social-item:not(:last-child)::after {
    content: "";
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin: 0 10px;
  }
  .mobile-contact-phone {
    font-family: Roboto;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-contact-item:nth-child(2) {
    margin: 32px 0 64px 0;
  }
  .mobile-contact-mail {
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--main-text);
  }
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .contact {
    display: flex;
    flex-direction: column;
  }
  .navigation-list,
  .contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: center;
  }
  .navigation-list {
    margin-right: 35px;
  }
  .navigation-list-item {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation-list-link {
    color: var(--heading);
    position: relative;
    padding-bottom: 28px;
  }
  .contact a {
    color: var(--main-text);
  }
  .contact-item:first-child {
    margin-bottom: 10px;
  }
  .contact-phone-icon {
    width: 10px;
    height: 16px;
    vertical-align: text-top;
    fill: var(--main-text);
    margin-right: 10px;
  }
  .contact-phone:hover .contact-phone-icon,
  .contact-phone:focus .contact-phone-icon {
    fill: var(--accent-color);
  }
  .contact-mail-icon {
    width: 16px;
    height: 12px;
    vertical-align: middle;
    fill: var(--main-text);
    margin-right: 10px;
  }
  .contact-mail:hover .contact-mail-icon,
  .contact-mail:focus .contact-mail-icon {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 1200px) {
  .section-padding:not(:nth-child(3)) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section-padding:nth-child(3) {
    padding-bottom: 94px;
  }
  .contact {
    flex-direction: row;
  }
  .header .logotype,
  .navigation-list,
  .contact {
    margin: 0;
  }
  .header .logotype {
    width: 20%;
  }
  .menu-container {
    width: 80%;
    justify-content: space-between;
  }
  .contact-item:first-child {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.hero-section {
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: 1600px;
  height: 400px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-mob.jpg);
  background-image: -o-linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-mob@2x.jpg);
    background-image: -o-linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob@2x.jpg);
  }
}

.hero-heading {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: var(--secondary-accent);
}

.hero-button {
  align-items: center;
  display: inline-block;
  padding: 10px 32px;
  min-width: 136px;
}

@media screen and (min-width: 768px) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-tablet.jpg);
    background-image: -o-linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-tablet@2x.jpg);
    background-image: -o-linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    height: 600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-desktop.jpg);
    background-image: -o-linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop.jpg);
  }
  .hero-heading {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-desktop@2x.jpg);
    background-image: -o-linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop@2x.jpg);
  }
}

.features-title {
  font-weight: var(--heading-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--heading);
}

.features-description {
  font-weight: var(--main-weight);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text);
}

.features-list-item:not(:first-child) {
  margin-top: 30px;
}

.features-icon-wrapper {
  width: 100%;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-bg);
  margin-bottom: 30px;
}

.features-icon-item {
  width: 70px;
  height: 70px;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
  }
  .features-list-item {
    width: 47%;
  }
  .features-list-item:nth-child(odd) {
    margin-right: 30px;
  }
  .features-title {
    text-align: left;
  }
  .features-list-item:nth-child(2) {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    flex-direction: row;
  }
  .features-list-item {
    width: 270px;
  }
  .features-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .features-list-item:nth-child(3), .features-list-item:nth-child(4) {
    margin-top: 0;
  }
  .features-icon-wrapper {
    width: 270px;
  }
}

.activity.section-padding {
  display: none;
}

@media screen and (min-width: 1200px) {
  .activity.section-padding {
    display: block;
  }
  .activity-list {
    display: flex;
  }
  .activity-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .activity-heading {
    font-weight: var(--heading-weight);
    font-size: 36px;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    color: var(--heading);
  }
  .activity-img-wrapper {
    position: relative;
  }
  .activity-desc-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 70px;
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--secondary-accent);
    text-align: center;
    text-transform: uppercase;
  }
}

.team-members {
  background-color: var(--secondary-bg);
}

.team-members-heading {
  font-weight: var(--heading-weight);
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--heading);
}

.team-members-container {
  background-color: var(--secondary-accent);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  transition: box-shadow var(--animation);
}

.team-members-container:hover, .team-members-container:focus-within {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.team-members-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  color: var(--heading);
}

.team-members-specialty {
  font-weight: var(--main-weight);
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 16px;
  color: var(--main-text);
}

@media screen and (min-width: 768px) {
  .team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .team-members-container {
    width: 47%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-members-container:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-container {
    flex-direction: row;
  }
  .team-members-container {
    width: 270px;
  }
}

.clients-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.clients-item.mobile-margin {
  margin-top: 30px;
  margin-bottom: 30px;
}

.clients-item-wrapper {
  width: 210px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon);
  border-radius: 5px;
  transition: var(--animation);
}

.clients-item-wrapper:hover, .clients-item-wrapper:focus {
  border: 1px solid var(--accent-color);
  cursor: pointer;
}

.clients-item-icon {
  fill: var(--icon);
  transition: fill var(--animation);
}

.clients-item-wrapper:hover .clients-item-icon,
.clients-item-wrapper:focus .clients-item-icon {
  fill: var(--accent-color);
}

.clients-heading {
  font-weight: var(--heading-weight);
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--heading);
}

@media screen and (min-width: 768px) {
  .clients-item-wrapper {
    width: 226px;
  }
  .clients-item.mobile-margin {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .clients-item.tablet-margin {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-item-wrapper {
    width: 170px;
  }
  .clients-item.tablet-margin {
    margin-top: 0px;
  }
}

.footer {
  background-color: var(--main-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  font-style: normal;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-heading {
  text-transform: uppercase;
  color: var(--secondary-accent);
  font-size: 14px;
  font-weight: var(--heading-weight);
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.footer.logotype,
.contact-location {
  color: var(--secondary-accent);
}

.contact-info-list-item:first-child {
  margin-top: 20px;
}

.contact-info-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.contact-info-list-item {
  font-weight: var(--main-weight);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer .contact-mail,
.footer .contact-phone {
  color: rgba(255, 255, 255, 0.6);
}

.footer-social {
  margin: 60px 0px;
}

.footer-social-list {
  display: flex;
  margin: 20px 0;
  justify-content: center;
}

.footer-subscribe-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.footer-social-list .social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list .social-list-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-list .social-list-link:hover, .footer-social-list .social-list-link:focus {
  background-color: var(--accent-color);
}

.footer-social-list .social-list-icon {
  fill: var(--secondary-accent);
}

.subscribe-list-item:not(:last-child) {
  margin-right: 12px;
}

.subscribe-email {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  background-color: transparent;
  color: var(--secondary-accent);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe-button {
  width: 200px;
  height: 50px;
  margin-top: 20px;
}

.subscribe-button::after {
  content: url(../images/icon-send.svg);
  margin-left: 10px;
  padding-top: 6px;
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  .footer-contact, .footer-social {
    width: 50%;
    justify-content: space-around;
  }
  .footer-subscribe {
    width: 70%;
  }
  .footer-social {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    justify-content: space-between;
    text-align: left;
  }
  .footer-contact, .footer-social, .footer-subscribe {
    width: auto;
  }
  .footer-subscribe-list {
    flex-direction: row;
  }
  .subscribe-button {
    margin-top: 0;
  }
  .footer-social {
    margin: 0;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all var(--animation);
  z-index: 99;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 581px;
  z-index: 100;
  background-color: var(--secondary-accent);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-form {
  padding: 40px;
}

.modal-heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-icon {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  fill: var(--logotype);
  transition: fill var(--animation);
}

.modal-close-btn:hover .close-icon,
.modal-close-btn:focus .close-icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-field label {
  margin-bottom: 4px;
  color: var(--main-text);
}

.form-field textarea {
  width: 100%;
  height: 120px;
  padding: 11px 12px 11px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  cursor: pointer;
  transition: var(--animation);
}

.form-field textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field input:not(.checkbox) {
  font-size: 14px;
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  transition: var(--animation);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  transition: var(--animation);
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--heading);
  border-radius: 2px;
  transition: var(--animation);
}

.checkbox:checked + .checkbox-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
}

.field-wrapper {
  position: relative;
}

.form-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill var(--animation);
}

.form-field:focus-within .form-icon {
  fill: var(--accent-color);
}

.form-field input:focus,
textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}

label.policy {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.policy-link {
  margin-left: 4px;
  text-decoration: underline;
  color: var(--accent-color);
}

.modal-submit-button {
  width: 200px;
  height: 50px;
  align-self: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*# sourceMappingURL=main.css.map */