.clients-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.clients-item {
  &.mobile-margin {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.clients-item-wrapper {
  width: 210px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon);
  border-radius: 5px;
  transition: var(--animation);
  
    &:hover,
    &:focus {
        border: 1px solid var(--accent-color);
        cursor: pointer;
    }
}


.clients-item-icon {
  fill: var(--icon);
  transition: fill var(--animation);

    .clients-item-wrapper:hover &,
    .clients-item-wrapper:focus & {
      fill: var(--accent-color);
    }
}

.clients-heading {
    font-weight: var(--heading-weight);
    font-size: 36px;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;

    color: var(--heading);
  }

@media screen and (min-width: 768px) {
   .clients-item-wrapper {
      width: 226px;
  }

  .clients-item {
  &.mobile-margin {
    margin-top: 0px;
    margin-bottom: 0px;
  } 
  &.tablet-margin {
    margin-top: 30px;
  }
}
}

@media screen and (min-width: 1200px) {
  .clients-item-wrapper {
  width: 170px;
  }
  .clients-item {
  &.tablet-margin {
    margin-top: 0px;
  }
}
}
