.features-list {
  display: flex;
  
  &-item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.features-title {
  font-weight: var(--heading-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;

  color: var(--heading);
}

.features-description {
  font-weight: var(--main-weight);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-text);
}

.features-icon-wrapper {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-bg);
  margin-bottom: 30px;
}

.features-icon-item {
  width: 70px;
  height: 70px;
}