.footer {
  background-color: var(--main-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  font-style: normal;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-heading {
  text-transform: uppercase;
  color: var(--secondary-accent);
  font-size: 14px;
  font-weight: var(--heading-weight);
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.footer.logotype,
.contact-location {
  color: var(--secondary-accent);
}

.contact-info-list-item {
    &:first-child {
    margin-top: 20px;
  }
}

.contact-info-list-item {
    &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.contact-info-list-item {
  font-weight: var(--main-weight);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer .contact-mail,
.footer .contact-phone {
  color: rgba(255, 255, 255, 0.6);
}

.footer-social {
  margin: 60px 0px;
}

.footer-social-list {
  display: flex;
  margin: 20px 0;
  justify-content: center;
}

.footer-subscribe-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.footer-social-list .social-list-item {
    &:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-social-list .social-list-link {
  background-color: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-social-list .social-list-icon {
  fill: var(--secondary-accent);
}

.subscribe-list-item {
  &:not(:last-child) {
    margin-right: 12px;
  }
}

.subscribe-email {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  background-color: transparent;
  color: var(--secondary-accent);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe-button {
  width: 200px;
  height: 50px;

  margin-top: 20px;

  
  // display: flex;
  // justify-content: center;
  // align-items: center;


  &::after {
    content: url(../images/icon-send.svg);
    margin-left: 10px;
    padding-top: 6px;
  }
}

@media screen and (min-width: 768px) {
  .footer .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}

  .footer-contact, .footer-social {
    width: 50%;
    justify-content: space-around;
  }

  .footer-subscribe {
    width: 70%;
  }

  .footer-social {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    justify-content: space-between;
    text-align: left;
  }
  .footer-contact, .footer-social, .footer-subscribe {
    width: auto;
  }
  .footer-subscribe-list {
    flex-direction: row;
  }
  .subscribe-button {
    margin-top: 0;
  }
  .footer-social {
    margin: 0;
  }
}