header {
  border-bottom: 1px solid #ececec;
}

.logotype {
  font-family: "Raleway", sans-serif;
  font-weight: var(--heading-weight);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logotype);

  .header & {
    margin-right: 93px;
  }
}

.section-padding {
  &:not(:nth-child(3)) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section-padding {
  &:nth-child(3) {
    padding-bottom: 60px;
  }
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  width: 100%;
  display: flex;
  align-items: center;
}


.logotype-accent,
.navigation-list-link:hover,
.navigation-list-link:focus,
.contact a:hover,
.contact a:focus,
.navigation-list-link.current,
.current-mobile,
.mobile-social-link,
.mobile-navigation-list-link:hover,
.mobile-navigation-list-link:focus,
.mobile-contact-mail:hover,
.mobile-contact-mail:focus {
  color: var(--accent-color);
  transition: color var(--animation);
}

.current {
    &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    display: block;
    background-color: var(--accent-color);
    border-radius: 2px;
    transition: var(--animation);
  }
}

@media screen and (max-width: 767px) {
  .header {
      position: fixed;
      top: 0;
      width: 100%;
      background-color: var(--secondary-accent);
      z-index: 50;
  }

  .menu-container {
    display: none;
  }

  .mobile-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .burger-btn,
  .mobile-close-btn {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

      &:hover,
      &:focus {
        fill: var(--accent-color);
        cursor: pointer;
      }
  }

  .menu-button {
    padding: 10px 0;
  }

.mobile-menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    background-color: white;
    padding: 48px 40px;
    z-index: 50;

    transition: transform 350ms linear;
  }

  .mobile-menu.is-open {
    transform: translateX(-50%) translateY(0%);
  }

  .mobile-wrapper {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .mobile-navigation-list-item:nth-child(2) {
    padding: 32px 0;
  }

  .mobile-navigation-list-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--heading);
    position: relative;

    // &.current-mobile {
    //   &::after {
    //     content: "";
    //     position: absolute;
    //     padding-left: 45px;
    //     // bottom: 0;
    //     width: 100%;
    //     height: 4px;
    //     display: block;
    //     background-color: var(--accent-color);
    //     border-radius: 2px;
    //     transition: var(--animation);
    //   }
    // }
  }

  .mobile-social-list {
    display: flex;
  }

  .mobile-social-item {
    &:not(:last-child)::after {
      content: "";
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      margin: 0 10px;
    }
  }
  
  .mobile-contact-phone {
    font-family: Roboto;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }


  .mobile-contact-item:nth-child(2) {
    margin: 32px 0 64px 0;

  }
  .mobile-contact-mail {
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--main-text);
  }
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .contact {
    display: flex;
    flex-direction: column;
  }

  .navigation-list,
  .contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    display: flex;
    justify-content: center;
  }

  .navigation-list {
    margin-right: 35px;
  }

  .navigation-list-item {
  padding-top: 32px;
  padding-bottom: 32px;

  &:not(:last-child) {
    margin-right: 50px;
  }
}


.navigation-list-link {
  color: var(--heading);
  position: relative;
  padding-bottom: 28px;
}

.contact {
  & a {
    color: var(--main-text);
  }
}

.contact-item:first-child {
  margin-bottom: 10px;
}

.contact-phone-icon {
  width: 10px;
  height: 16px;
  vertical-align: text-top;
  fill: var(--main-text);
  margin-right: 10px;

  
  .contact-phone:hover &,
  .contact-phone:focus & {
    fill: var(--accent-color);
  }
}

.contact-mail-icon {
  width: 16px;
  height: 12px;
  vertical-align: middle;
  fill: var(--main-text);
  margin-right: 10px;

  .contact-mail:hover &,
  .contact-mail:focus & {
    fill: var(--accent-color);
  }
}

}


@media screen and (min-width: 1200px) {
  .section-padding {
  &:not(:nth-child(3)) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-padding {
  &:nth-child(3) {
    padding-bottom: 94px;
  }
}
  .contact {
    flex-direction: row;
  }

  .header .logotype,
  .navigation-list,
  .contact {
    margin: 0;
  }

  .header .logotype {
      width: 20%;
  }

 .menu-container{
    width: 80%;
    justify-content:space-between
  }

  .contact-item:first-child {
    margin-right: 50px;
    margin-bottom: 0;
  }
}