.form-field {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  & label {
    margin-bottom: 4px;
    color:  var(--main-text);
  }

  & textarea {
    width: 448px;
    height: 120px;
    padding: 11px 12px 11px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    cursor: pointer;
    transition: var(--animation);

    &::placeholder {
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.01em;

      color: rgba(117, 117, 117, 0.5)
    }
  }
}

.form-field input:not(.checkbox) {
  font-size: 14px;
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  transition: var(--animation);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  transition: var(--animation);

  &-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border: 2px solid var(--heading);
    border-radius: 2px;
    transition: var(--animation);
  }

    &:checked + &-icon {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    background-image: url(../images/check.svg);
    background-size: contain;
    background-origin: border-box;
  }
}

.field-wrapper {
  position: relative;
}

.form-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill var(--animation);

  .form-field:focus-within & {
    fill: var(--accent-color);
  }
}

.form-field input:focus,
textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}

label.policy {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.policy-link {
  margin-left: 4px;
  text-decoration: underline;

  color: var(--accent-color);
}

.modal-submit-button {
  width: 200px;
  height: 50px;
  margin-top: 20px;
  align-self: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}