.team-container {
  display: flex;
}

.team-members {
  background-color: var(--secondary-bg);

  &-heading {
    font-weight: var(--heading-weight);
    font-size: 36px;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;

    color: var(--heading);
  }
}

.team-members-container {
  background-color: var(--secondary-accent);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  transition: box-shadow var(--animation);

  &:not(:last-child) {
    margin-right: 30px;
  }

  &:hover,
  &:focus-within {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.team-members-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;

  color: var(--heading);
}

.team-members-specialty {
  font-weight: var(--main-weight);
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 16px;

  color: var(--main-text);
}