.container {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

// .container {
//   width: 1200px;
// }

// .activity-list,
// .clients-container,
// .clients-item-wrapper,
// .features-list,
// .features-icon-wrapper,
// .footer .container,
// .footer-social-list,
// .footer-subscribe-list,
// .subscribe-button,
// .nav-container,
// .navigation,
// .navigation-list,
// .contact,
// .hero-section,
// .form-field,
// label.policy,
// .project-list,
// .team-container {
//   display: flex;
// }

// .clients-container,
// .footer .container,
// .nav-container,
// .project-list {
//   justify-content: space-between;
// }

// .features-icon-wrapper,
// .subscribe-button {
//   justify-content: center;
// }

// .clients-item-wrapper,
// .features-icon-wrapper,
// .subscribe-button,
// .nav-container,
// .navigation,
// .navigation-list,
// .contact,
// .hero-section,
// label.policy {
//   align-items: center;
// }

// .footer .container {
//   align-items: baseline;
// }


// .form-field {
//   flex-direction: column;
// }

// .project-list {
//   flex-wrap: wrap;
// }