:root {
  --heading: #212121;
  --main-text: #757575;
  --accent-color: #2196f3;
  --logotype: #000000;
  --main-bg: #2f303a;
  --secondary-bg: #f5f4fa;
  --secondary-accent: #ffffff;
  --hero-button-hover: #188ce8;
  --icon: #afb1b8;
  --main-weight: 400;
  --heading-weight: 700;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}